<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--Conexion Servidor-->
		<add name="KeystockConn"
             connectionString="Data Source=192.168.1.1;Initial Catalog=Sistema_Gestion_Inventarios;User ID=user_keystock;Password=123456;"
             providerName="System.Data.SqlClient" />
		<!--Conexion local-->
		<!--<add name="KeystockConn"
		connectionString="Data Source=LAPTOP-ICAMTCRR;Initial Catalog=Sistema_Gestion_Inventarios;Integrated Security=True"
		providerName="System.Data.SqlClient" />-->

	</connectionStrings>
</configuration>